@charset "UTF-8";
// Here's where we define some default constants
@import "partials/base";

// Then we'll import the compass extension
@import "h5bp";

@include h5bp-normalize;
@include h5bp-base-styles;
@include h5bp-media;
@include h5bp-chromeframe;

@import "compass/utilities/general/clearfix";

// Finally, put your own styles in these partials
// and add more as needed (i.e. forms, tables, nav)
@import "partials/resets";
@import "partials/mixins";
@import "partials/grid";
@import "partials/fonts";
@import "partials/page";
@import "partials/header";
@import "partials/main";
@import "partials/flashes";
@import "partials/footer";
@import "partials/articles";

// Styles for base WordPress content types
// Add more as needed
@import "partials/wordpress/single";

// Final designs - main frame and one SCSS per template
@import "partials/templates/base";
@import "partials/templates/page-meta";
@import "partials/templates/plugins/jquery.flexslider";
@import "partials/templates/plugins/jquery.galleria";
@import "partials/templates/plugins/usernoise";
@import "partials/templates/article";
@import "partials/templates/event";
@import "partials/templates/event-programme";
@import "partials/templates/event-speaker-list";
@import "partials/templates/event-speaker-list-mediaqueries";
@import "partials/templates/conference";
@import "partials/templates/conference-live";
@import "partials/templates/list";
@import "partials/templates/media-archive";
@import "partials/templates/newsletter";
@import "partials/templates/people-list";
@import "partials/templates/publication";
@import "partials/templates/researchproject";
@import "partials/templates/slider";

// Microsites
@import "partials/templates/subthemes/ec2012/electric-city-2012";
@import "partials/templates/subthemes/rio2013/rio2013";

// Media queries should be imported last
@import "partials/media";
@import "partials/templates/subthemes/ec2012/electric-city-2012-mediaqueries";
@import "partials/templates/subthemes/rio2013/rio2013-mediaqueries";
