// This file must be imported before loading html5-boilerplate

$headings-font-family: unquote('ff-meta-web-pro, UbuntuRegular, Tahoma, Elvetica, sans-serif');

$base-font-family: unquote('ff-meta-web-pro, UbuntuRegular, Tahoma, sans-serif');  // default font-family

$article-font-family: unquote('ff-meta-serif-web-pro, Palatino, Georgia, LinuxLibertineORegular, Gentium Book Basic, serif'); // default font-family for page body

$base-font-size: 16px;  // default font-size for YUI fonts

$base-line-height: 1.5;  // default line-height for YUI fonts

$font-color: #000;

$link-color: #900;

$link-hover-color: #555;

$link-active-color: #900;

$link-visited-color: #900;

$selected-font-color: #fff;  // color for selected text

$selected-background-color: #ff5E99;  // bg-color for selected text

$list-left-margin: 0;  // left margin for ul an ol
