@import "compass/css3";
@import "compass/css3/columns";

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

footer {
 font-size: 0.75em;
 background: none repeat scroll 0 0 #F1F1EC;
 border-top: 1px solid #E5E5E0;
 margin-top: 20px;
 padding: 40px;
 
 ul {
  list-style-type: none;
 }
 
 #footerSitemap {
  .row > section > ul {
    @include column-count(2);
  }
 }
}
