@import "compass/css3";

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

header {
 /* font-size: 0.75em; */
 background-image: url("/images/backgrounds/header-background-strip-lsecities.gif");
 background-repeat: repeat-x;
}

header #subsitesNavigation {
 height: 1.9375em;
 
 nav {
  color: #ffffff;
  font-weight: bold;
  
  ul {
   float: right;
   padding-top: 0.125em;
   font-size: 0.75em;
   
   a {
    line-height: 1em;
    color: #ffffff;
   }
  }
  
 }
 
 img#lsecitiesSmallLogo {
  padding: 0.125em 2em 0;
  margin: 0.125em auto 0;
  display: block;
  background-color: #ffffff;
  @include border-top-left-radius(3px);
  @include border-top-right-radius(3px);
 }
}

header #logo.full {
 background: url("/images/logo_lsecities_strapline.gif") no-repeat scroll 0 0 transparent;
 height: 59px;
 margin: 2px 0 10px;
 text-indent: -9999px;
}

header #logo.small {
 background: url("/images/logo_lsecities_nostrapline_small.gif") no-repeat scroll left bottom transparent;
 height: 59px; /* kept consistent with #logo.full to allow bottom alignment */
 margin: 2px 0 10px;
 text-indent: -9999px;
}

header #ualogo {
 background: url("/images/logo_urbanage_strapline.gif") no-repeat scroll 0 0 transparent;
 height: 6.93333em;
 margin-top: 0.166667em;
}

header ul {
 display: inline-block;
 height: 1em;
 list-style: none;
 margin: 0;
 padding: 0;
 
 li {
  display: inline;
  float: left;
  
  a {
   font-weight: bold;
   line-height: 1em;
   padding: 0 1.2em;
   text-decoration: none;
   text-transform: uppercase;
  }
 }
}

header ul.lcmenu li.current {
 background-color: #B4001D;
 @include border-top-left-radius(5px);
 @include border-top-right-radius(5px);
 
 a {
  color: #ffffff;
 }
}

header ul.lcmenu li:hover:not(.current) {
 @include border-top-left-radius(5px);
 @include border-top-right-radius(5px);
 background-color: #ff7700;
 
 a {
  color: #ffffff;
 }
}

header ul.lcmenu a {

}

header ul.uamenu {
 background-color: #b4001d;
}

header ul.uamenu a {
 color: #ffffff;
 display: block;
 margin: 0;
}

header nav {
 height: 1em;
}

header #toolbox {
 font-size: 0.75em;
}

header #searchbox input#queryfield {
 background: url("/images/icons/search_icon.png") no-repeat scroll right center transparent;
 border: 1px solid #CCCCCC;
 height: 1.2em;
 margin: 10px 0;
 padding: 3px 0;
 width: 99%;
}

header #socialbuttons {
 height: 30px;
 
 h4 {
  display: inline;
 }
 
 ul {
  height: 16px;
 }
}

nav#conferencesmenu {
 font-family: "BureauGrotesque-ThreeSeven";
 font-size: 1.4375em;
 text-transform: uppercase;
 
 ul {
  list-style: none;
  padding-left: 0;
  
  li {
   margin-top: 0.5625em;
  }
  
  li:first-child {
   margin-top: 0;
  }
 }
}
