@import "compass/css3";

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

$about_area_colour: rgba(0, 174, 239, 1);
$research_area_colour: rgba(255, 119, 0, 1);
$publications_area_colour: rgba(219, 65, 64, 1);
$events_area_colour: rgba(54, 55, 149, 1);
$urbanage_area_colour: rgba(180, 0, 29, 1);
$media_archive_area_colour: rgba(75, 128, 68, 1);

body > #container > header {
 /* font-size: 0.75em; */
 /* margin-top: 1em; */
 /* background: url('../images/backgrounds/header-background-strip-lsecities.gif') repeat-x; */
 border-top: 3px solid #ff0000;
 
 nav {
  color: inherit;
  
  ul {
   float: right;
   padding-top: 0.125em;
   
   a {
    color: inherit;
   }
  }
 }
 
 #subsitesNavigation {
  height: 1.9375em * 1.5;
  font-size: 0.75em;
  font-weight: bold;
  
  img#lsecitiesSmallLogo {
    padding: 0.125em 2em 0;
    margin: 0.125em auto 0;
    display: block;
    background-color: #ffffff;
    @include border-top-left-radius(3px);
    @include border-top-right-radius(3px);
  }
 
  ul li a {
    color: #ffffff;
  }
 }
 
 #logo.full {
  background: url("../images/logo_lsecities_strapline.gif") no-repeat scroll 0 0 transparent;
  height: 6.93333em;
  margin-top: 0.166667em;
  text-indent: -9999px;
 }

 #logo.small {
  background: url("../images/logo_lsecities_nostrapline_small.gif") no-repeat scroll left bottom transparent;
  height: 6.93333em; /* kept consistent with #logo.full to allow bottom alignment */
  margin-top: 0.166667em;
  text-indent: -9999px;
 }

 #ualogo {
  background: url("../images/logo_urbanage_strapline.gif") no-repeat scroll 0 0 transparent;
  height: 6.93333em;
  margin-top: 0.166667em;
 }

 ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
 
  li {
   display: inline;
   float: left;
  
   a {
    padding: 0 0.6em;
    text-decoration: none;
   }
  }
 }
}

#mainmenus {
  opacity: 0.8;
  @include box-shadow(#888 3px 3px 5px);
  
  &:hover {
    opacity: 1;
  }
}

  nav#level1nav,
  nav#level2nav {
    line-height: 1.5em;
    font-family: $headings-font-family;
  }

  #level1nav {
    ul li {
      &:hover:not(.current), &:hover:not(.current_page_item) {
        border-bottom: 5px solid;
      }
      &.lsecitiesAreaAbout, &.page-item-303 {
        border-bottom-color: $about_area_colour;
        
        &:hover:not(.current), &:hover:not(.current_page_item) {
          border-bottom-color: transparentize($about_area_colour, 0.5);
        }
      }
      &.lsecitiesAreaResearch, &.page-item-306 {
        border-bottom-color: $research_area_colour;
        
        &:hover:not(.current), &:hover:not(.current_page_item) {
          border-bottom-color: transparentize($research_area_colour, 0.5);
        }
      }
      &.lsecitiesAreaPublications, &.page-item-309 {
        border-bottom-color: $publications_area_colour;
        
        &:hover:not(.current), &:hover:not(.current_page_item) {
          border-bottom-color: transparentize($publications_area_colour, 0.5);
        }
      }
      &.lsecitiesAreaEvents, &.page-item-311 {
        border-bottom-color: $events_area_colour;
        
        &:hover:not(.current), &:hover:not(.current_page_item) {
          border-bottom-color: transparentize($events_area_colour, 0.5);
        }
      }
      &.lsecitiesAreaUrbanAge, &.page-item-94 {
        border-bottom-color: $urbanage_area_colour;
        
        &:hover:not(.current), &:hover:not(.current_page_item) {
          border-bottom-color: transparentize($urbanage_area_colour, 0.5);
        }
      }
      &.lsecitiesAreaMediaArchive, &.page-item-313 {
        border-bottom-color: $media_archive_area_colour;
        
        &:hover:not(.current), &:hover:not(.current_page_item) {
          border-bottom-color: transparentize($media_archive_area_colour, 0.5);
        }
      }
    }
  }
 
  #level2nav {
    h1 {
      display: inline-block;
      color: #ffffff;
      font-size: 1.2em;
      font-weight: normal;
      font-family: UbuntuBold;
      padding: 0 0.5em;
    }
    
    ul {
      li.current, li.current_page_item, li.current_page_ancestor, li.current_page_parent {
        a {
          border-bottom: #ffffff 5px solid;
        }
      }
      
      a {
        color: #ffffff;
        display: block;
        margin: 0;
        border-bottom: 5px solid transparent;
    
        &:hover {
          border-bottom: 5px solid #ffffff;
        }
      }
    }
  }

  #level2nav {
    &.section-ancestor-303 {
      background-color: $about_area_colour;
    }
    &.section-ancestor-306 {
      background-color: $research_area_colour;
    }
    &.section-ancestor-309 {
      background-color: $publications_area_colour;
    }
    &.section-ancestor-311 {
      background-color: $events_area_colour;
    }
    &.section-ancestor-94 {
      background-color: $urbanage_area_colour;
    }
    &.section-ancestor-313 {
      background-color: $media_archive_area_colour;
    }

    ul {
      background-color: inherit;
    }
  }

header #searchbox {
  float: right;
  
  form {
    opacity: 0.3;
    font-size: 0.75em;
  
    &:hover {
      opacity: 0.9;
    }
  }
}

#persistentLogo {
  float: right;
  height: 31px;
}

header #searchbox input#queryfield {
  background: url("../images/icons/search_icon.png") no-repeat scroll right center transparent;
  border: 1px solid #CCCCCC;
  height: 1.2em;
  margin: 10px 0;
  padding: 3px 0;
}

header #socialbuttons {
 height: 30px;
 
 h4 {
  display: inline;
 }
 
 ul {
  height: 16px;
 }
}

#conferencesmenu {
  ul {
    font-family: "Anton", "BureauGrotesque-ThreeSeven";
    font-size: 1.2em;
    text-transform: uppercase;
    list-style: none;
    padding-left: 0;
  
    li {
      margin-top: 0.5625em;
    }
  
    li:first-child {
      margin-top: 0;
    }
  }
  
  .cityName a:hover {
    color: #66000d;
  }
}
