@import "compass/css3";

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

header {
 /* font-size: 0.75em; */
 /* margin-top: 1em; */
 background: url('/images/backgrounds/header-background-strip-lsecities.gif') repeat-x;
 
 nav {
  color: inherit;
  
  ul {
   float: right;
   padding-top: 0.125em;
   
   a {
    color: inherit;
   }
  }
 }
}

header #subsitesNavigation {
  height: 1.9375em * 1.5;
  font-size: 0.75em;
  font-weight: bold;
  
  img#lsecitiesSmallLogo {
    padding: 0.125em 2em 0;
    margin: 0.125em auto 0;
    display: block;
    background-color: #ffffff;
    @include border-top-left-radius(3px);
    @include border-top-right-radius(3px);
  }
 
  ul li a {
    color: #ffffff;
  }
}

header #logo.full {
 background: url("/images/logo_lsecities_strapline.gif") no-repeat scroll 0 0 transparent;
 height: 59px;
 margin-top: 5px;
 margin-bottom: 5px;
 text-indent: -9999px;
}

header #logo.small {
 background: url("/images/logo_lsecities_nostrapline_small.gif") no-repeat scroll left bottom transparent;
 height: 59px; /* kept consistent with #logo.full to allow bottom alignment */
 margin-top: 5px;
 margin-bottom: 5px;
 text-indent: -9999px;
}

header #ualogo {
 background: url("/images/logo_urbanage_strapline.gif") no-repeat scroll 0 0 transparent;
 height: 6.93333em;
 margin-top: 0.166667em;
}

header ul {
 display: inline-block;
 list-style: none;
 margin: 0;
 padding: 0;
 
 li {
  display: inline;
  float: left;
  
  a {
   padding: 0 0.6em;
   text-decoration: none;
  }
 }
}

header #mainmenus {
  nav {
    line-height: 1.5em;
  }
  
  nav#level1nav ul li.current,
  nav#level2nav ul li.current {
   background-color: #B4001D;
   @include border-top-left-radius(5px);
   @include border-top-right-radius(5px);
   
   a {
    color: #ffffff;
   }
  }

  #level1nav ul li:hover:not(.current) {
   @include border-top-left-radius(5px);
   @include border-top-right-radius(5px);
   background-color: #ff7700;
   
   a {
    color: #ffffff;
   }
  }

  #level2nav ul {
    background-color: #b4001d;
  }
 
  #level2nav ul a {
    color: #ffffff;
    display: block;
    margin: 0;
  }
}

header #toolbox {
  opacity: 0.3;
  font-size: 0.75em;
  
  &:hover {
    opacity: 0.9;
  }
}

header #searchbox input#queryfield {
 background: url("/images/icons/search_icon.png") no-repeat scroll right center transparent;
 border: 1px solid #CCCCCC;
 height: 1.2em;
 margin: 10px 0;
 padding: 3px 0;
 width: 99%;
}

header #socialbuttons {
 height: 30px;
 
 h4 {
  display: inline;
 }
 
 ul {
  height: 16px;
 }
}

nav#conferencesmenu {
 font-family: "Anton", "BureauGrotesque-ThreeSeven";
 font-size: 1.4375em;
 text-transform: uppercase;
 
 ul {
  list-style: none;
  padding-left: 0;
  
  li {
   margin-top: 0.5625em;
  }
  
  li:first-child {
   margin-top: 0;
  }
 }
}
