@import "compass/css3";
@import "compass/css3/transition";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: normal;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

aside {
  font-family: $article-font-family;
  
  p {
    font-size: 0.875em; // = 14px/16px
    line-height: 1.5em;
  }
}

#featuresgrid {
  width: 100%;
  line-height: 1em;
  font-family: $headings-font-family;
  
  .featurescolumn {
    width: 49.5260664%;
    margin-right: 0.94786739%;
    margin-bottom: 0.94786739%;
    float: left;
    
    &.last {
      margin-right: 0;
    }
  }
  
  .featurebox.bigbox {
    width: 100%;
    float: left;
    margin-bottom: 0.9569378%;
    position: relative;
  }
  
  .featurebox.smallbox {
    width: 49.0430622%;
    float: left;
    margin-right: 1.9138756%;
    margin-bottom: 0.9569378%;
    position: relative;

    &.last {
      margin-right: 0;
    }
  }
  
  .featurebox .feature_blurb {
    //-moz-transition: max-height 0.5s ease-in-out 0s;
    //transition: max-height 0.5s ease-in-out 0s;
    float: left;
    font-size: 0.8em;
    line-height: 1.08em;
    max-height: 0;
    overflow: hidden;
    padding-top: 5px;
    width: 100%;
  }
  
  .featurebox:hover {
    .feature_title, .feature_caption {
      //-moz-transition: visibility 0.2s ease-in-out 0.5s;
      //transition: visibility 0.2s ease-in-out 0.5s;
      display: none;
    }

    .feature_info.textonly  {
      .feature_title, .feature_caption {
        display: block;
      }
    }

    .feature_blurb {
      //-moz-transition: max-height 0.2s ease-in-out 0s;
      //transition: max-height 0.2s ease-in-out 0s;
      max-height: 75%;
    }
    
    .feature_info {
      @include single-transition(background-color, 0.5s, ease-in-out, 0s);
      background-color: #000;
      max-height: 75%;
    }
    
    .feature_info.textonly {
      @include single-transition(background-color, 0.5s, ease-in-out, 0s);
      background-color: #000;
      max-height: inherit;
    }
  }

  .feature_info {
    @include single-transition(background-color, 0.5s, ease-in-out, 0s);
    // background: url("/images/X/interface/toc_project_bg.png") repeat scroll left top transparent;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: #F8F8F8;
    cursor: pointer;
    line-height: 1em;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    
    .feature_title, .feature_caption {
      //-moz-transition: visibility 0.2s ease-in-out 0.5s;
      //transition: visibility 0.2s ease-in-out 0.5s;
    }
    
    .feature_title {
      font-weight: bold;
    }
    
    .feature_caption {
      font-weight: normal;
    }
  }
  
  .feature_info.textonly {
    top: 0;
    background-color: #000;
    
    .feature_blurb {
      max-height: 75%;
    }
  }
}

.featureboxes {
  .featurebox {
    background-color: #000;
    color: #fff;
    margin-bottom: 0.9569378%;
    
    h3 {
      padding: 0 0.3em;
    }
    
    a, a:active, a:visited, a:hover {
      color: #fff;
    }
  }
}

.featured-item {
  margin-bottom: 4em;
}

article {
  font-family: $article-font-family;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include single-box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

#slider {
  margin-bottom: 0.5em;
  font-family: $base-font-family;
  max-height: 13.18001222em;
  height: 13.18001222em;
}

//-----------------------------------
// Base styles
//-----------------------------------

dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin-bottom: 0.5em;
  }
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}

nav {
  a, a:active, a:visited {
		color: #990000;
	}
  
  a:hover {
    color: #555555;
  }
}

p {
  margin-bottom: 1.625em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {
  background: inherit;
}

#container {}

header {

  h1.entry-title {
    font-size: 2em;
    margin-bottom: 1.2em;
  }
}

#main {

  h1 {
    font-size: 2em;
    margin-bottom: 1.2em;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 1.1em;
  }
  
  h3 {
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  
  .article-text img {
    max-width: 100%;
  }
  
  article .introblurb {
    h2 {
      margin-top: 0.6em;
      margin-bottom: 0;
    }
  
    p {
      font-size: 1.25em;
      line-height: 1.25em;
    }
  }
  
  .wp-caption {
    max-width: 100% !important;
  }
  
  .wp-caption-text {
    font-size: 0.875em;
    font-family: $headings-font-family;
  }
  
  ul.publication-side-toc {
    li {
      line-height: 1.25em;
      margin-bottom: 0.25em;
    }
  }
}

footer {}
