@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";

$slider_full_pxwidth: 1140;
$columns: 5;
$slider_base_font_pxsize: 14;
$tile_base_emwidth: $slider_full_pxwidth / $columns / $slider_base_font_pxsize;
$tile_base_emheight: $tile_base_emwidth;
$tile_pxpadding: 4;
$tile_padding: $tile_pxpadding/$slider_base_font_pxsize;
$onetile_pxwidth: (($slider_full_pxwidth - ($columns * $tile_pxpadding * 2) - ($columns + 1)) / $columns );
$onetile_emwidth: ($onetile_pxwidth / $slider_base_font_pxsize);
$onetilecolumn_emwidth: (($onetile_pxwidth + 2) / $slider_base_font_pxsize);
$twotiles_pxwidth: (((($slider_full_pxwidth - ($columns * $tile_pxpadding * 2) - ($columns + 1)) / $columns * 2) + $tile_pxpadding *2));
$twotiles_emwidth: ($twotiles_pxwidth / $slider_base_font_pxsize);
$twotilescolumn_emwidth: (($onetile_pxwidth * 2 + 2) / $slider_base_font_pxsize);

.flexslider {
  font-family: ff-meta-web-pro,UbuntuRegular,Tahoma,Elvetica,sans-serif;
  position: relative;
  font-size: 0.875em;
  
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
    margin-right: 0;
  }

  .slides > li {
    height: #{2*$tile_base_emheight}em;
  }
  
  .slide-inner {
    border-left: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
  }
  
  .col2 {
    width: #{$twotilescolumn_emwidth}em;
    float: left;
  }
  
  .col1 {
    width: #{$onetilecolumn_emwidth}em;
    float: left;
  }

  .tile {
    border-right: 1px solid #dedede;
    border-top: 1px solid #dedede;
    float: left;
    padding: #{$tile_padding}em;
    overflow: hidden;
    position: relative;
    min-height: 210px;
    height: #{$tile_base_emheight}em;
    
    &.tall {
      height: #{$tile_base_emheight*2}em;
    }
    
	  &:hover {
      .feature_title, .feature_caption {
        //-moz-transition: visibility 0.2s ease-in-out 0.5s;
        //transition: visibility 0.2s ease-in-out 0.5s;
        display: none;
      }

      .feature_info.textonly  {
        .feature_title, .feature_caption {
        display: block;
        }
      }

      .feature_blurb {
        //-moz-transition: max-height 0.2s ease-in-out 0s;
        //transition: max-height 0.2s ease-in-out 0s;
        max-height: 75%;
      }
      
      .feature_info {
        @include single-transition(background-color, 0.5s, ease-in-out, 0s);
        background-color: #000;
        max-height: 75%;
      }
      
      .feature_info.textonly {
        @include single-transition(background-color, 0.5s, ease-in-out, 0s);
        background-color: #000;
        max-height: inherit;
      }
	  }


    &.onetile {
      width: #{$onetile_emwidth}em;
    }
    
    &.twotiles {
      width: #{$twotiles_emwidth}em;
    }
    
    
    .inner-box {
	  padding: 0.3125em;
    }
    
    .crop {
      position: relative;
      overflow: hidden;
      width: 445px;
      height: 210px;
      
      img {
        /* position: absolute; */
        margin: 0;
      }
    }
    
    &.databox {
      
      font-family: BureauGrotesque, Anton;
      
      h1 {
        font-family: BureauGrotesque, Anton;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 6em !important;
        display: inline;
        line-height: 1em;
        margin-bottom: inherit !important;
      }
      p {
        font-size: 1.4em !important;
        display: inline;
        text-transform: uppercase;
      }
    }
  }
  
  .introbox {
    .inner-box {
      background-color: #000;
      color: #fff;
    
      p {
        font-size: 0.8em;
      }
    }
  }
  
  .feature_info {
    @include single-transition(background-color, 0.5s, ease-in-out, 0s);
    // background: url("/images/X/interface/toc_project_bg.png") repeat scroll left top transparent;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    bottom: 0;
    color: #F8F8F8;
    cursor: pointer;
    line-height: 1em;
    padding: 10px;
    margin: 0.3125em;
    position: absolute;
    left: 0;
    right: 0;
    
    .feature_title, .feature_caption {
      //-moz-transition: visibility 0.2s ease-in-out 0.5s;
      //transition: visibility 0.2s ease-in-out 0.5s;
    }
    
    .feature_title {
      font-weight: bold;
    }
    
    .feature_caption {
      font-weight: normal;
    }
    
    .feature_blurb {
      //-moz-transition: max-height 0.5s ease-in-out 0s;
      //transition: max-height 0.5s ease-in-out 0s;
      float: left;
      line-height: 1.08em;
      max-height: 0;
      overflow: hidden;
      padding-top: 5px;
      width: 100%;
    }
  }
  
  ul {
    list-style-type: disc;
    
    li {
      list-style-type: inherit;
    }
  }
  
  ul.citieslist {
    display: inline;
    text-transform: uppercase;
    font-family: BureauGrotesque, Anton;
    font-size: 2em;
    
    li {
      display: inline;
      
      &.alternate {
        color: #999;
      }
      
      a, a:active, a:visited {
		color: inherit;
      }
      
      a:hover {
        color: #990000;
      }
    }
  }

  /* Direction Nav */
  .flex-direction-nav li {

    a {
      width:33px;
      height:64px;
      text-indent:-9999px;
      border:0;
      margin: -13px 0 0;
      display: block;
      /* background: url(theme/bg_direction_nav.png) no-repeat 0 0; */
      position: absolute;
      top: 220px; /*((503-64)/2)px;*/
      /* top: 50%; */
      opacity: 0.9;
      
      &:hover {
        background-position: 0px -65px;
        opacity: 1;
      }

      &:active {
        background-position: 0px -130px;
      }
    }
    
    .next {
      background: transparent url('http://urban-age.net/stylesheets/plugins/jquery.nivoslider/2.4/arrow-right.png') no-repeat;
      right: 0px;
      /* background-position: -52px 0;
      right: -21px; */
    }
    
    .prev {
      /* left: -20px; */
      background: transparent url('http://urban-age.net/stylesheets/plugins/jquery.nivoslider/2.4/arrow-left.png') no-repeat;
      left: -2px;
    }
    
    .disabled {
      opacity: .3; filter:alpha(opacity=30);
      cursor: default;
    }
  }

  /* Control Nav */
  .flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -30px; 
    text-align: center;
   
    li {
      margin: 0 0 0 5px;
      display: inline-block;
      zoom: 1;
      *display: inline;

      &:first-child {margin: 0;}
      a {
        width: 13px;
        height: 13px;
        display: block;
        background: url(theme/bg_control_nav.png) no-repeat 0 0;
        cursor: pointer;
        text-indent: -9999px;
        
        &:hover {
          background-position: 0 -13px;
        }
        
        &.active {
          background-position: 0 -26px; cursor: default;
        }
      }      
    }
  }
}

