.minorfacts
  - if authors
    -# %section
      %h1 Authors
      %ul
        - for author in authors
          %li = "#{author.name} #{author.family_name}"
  %section
    %h1 Principal investigator
    %ul
      %li Suzanne Hall
  %section
    %h1 Researchers
    %ul
      %li Robin Finlay
      %li Julia King
  - if publishing_date
    %section
      %h1 Date of publication
      %div = publishing_date
  - if tags
    %section
      %h1 Tags
      %ul
        - for tag in tags
          %li tag.name
  - if lang2.slug
    %section
      %h1 Translations
      %ul
        - for translation in translations
          %li
            %a( href = translation.uri ) = translation.language_name
  - if pdf_uri or attachments
    %section.downloads-area
      %h1 Downloads
      %ul
        - if pdf_uri
          %li
            %a.downloadthis.pdf.button( href = pdf_uri )Download this article as PDF
        - if attachments
          - for attachment in attachments
            %li
              %a.downloadthis.pdf.button( href = attachment.uri ) = attachment.post_title
  = include('lsecities/partials/_socialmedia-share.haml')
