- if gallery.slides|length > 0
  %div(class = "lc-galleria #{gallery.class}" id = "lc-galleria-#{gallery.permalink}")
    %ul
      - for slide in gallery.slides
        %li
          %a(href = slide.uri)
            %img(title = slide.slide.post_title src = slide.uri alt = slide.slide.post_title data-title = slide.slide.post_title data-description = slide.slide.post_excerpt)
