/*
Theme Name: LSE Cities Twenty Twelve
Theme URI: http://github.com/lsecities/lsecities-2012
Template: twentytwelve
Author: Andrea Rota (LSE Cities) <a.rota@lse.ac.uk>
Author URI: http://lsecities.net/
Description: A Twenty Twelve child theme for lsecities.net
Version: 1.10
License: Affero General Public License v3 (or later)
License URI: license.txt
Tags: dark, light, white, black, gray, one-column, two-columns, left-sidebar, right-sidebar, fixed-width, flexible-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
*/

/**
 * Look ma, no styles!
 * We actually only use style.css for theme metadata - the
 * actual styles are in stylesheets/style.css (compiled via
 * SASS), which is the only theme CSS file linked to in the
 * theme's header.php
-------------------------------------------------------------- */
