$reveal-area-height: 806px;

body.layout-grid-slideshow {
  overflow: auto;
}

.lc-grid-slideshow {
  @media only screen and (min-device-width: 960px) {

    // add media queries for proper responsive layout
    .top-content {
      @include container;
      .main-content {
        @include span(9 of 12);
      }
      nav {
        @include span(last 3 of 12);
      }
    }

    .page-tab {
      transition: opacity 1s ease-in;
      z-index: 1;

      &.inactive {
        opacity: 0;
        transition: opacity 1s ease-out;
        z-index: -1;
      }
    }
  }

  #toggle-revealjs-overview {
    background: #FC0D1D;
    color: #FFF;
    cursor: pointer;
    padding: 5px 15px;
    margin-top: 20px;
    border: 0;
    opacity: 1;
    transition: opacity 1s ease-in;

    &.inactive {
      opacity: 0;
      transition: opacity 1s ease-out;
    }
  }

  .heading-row {
    @include clearfix;
  }

  .toolbar {
    display: none;
    
    @media only screen and (min-device-width: 960px) {
      display: block;
      float: right;
      transform: translateY(-1.5rem);  // MONKEYPATCH - position this properly
      @include clearfix;

      li {
        display: inline;
        margin-right: 1rem;
      }
    }
  }

  .entry-content {
    position: relative;
    min-height: $reveal-area-height;
  }

  .top-content {
    nav {
      h1 {
        font-size: 1rem;
      }

      section:first-child {
        margin-top: 0;
      }
    }
  }

  .extra-content {
    display: none;
    font-size: inherit;
    
    @media only screen and (max-device-width: 959px) {
      display: block;
    }
  }
  

  // only display reveal at 960px screen size and above (JS isn't triggered below that either)
  .reveal {
    display: none;
  }

@media only screen and (min-device-width: 960px) {
  .reveal {
    display: block;
    font-family: $base-font-family;
    min-height: $reveal-area-height;
    position: absolute;
    top: 0;
    left: 0;

    h1, h2, h3, h4, h5, h6 {
      line-height: 1;
      
      font-family: $headings-font-family;
    }
    
    h1 {
      font-size: 1.5rem
    }

    h2 {
      font-size: 1.25rem;
    }

    h3 {
      font-size: 1rem;
    }

    h4 {
      font-size: 0.8rem;
    }

    p, .slides section {
      font-size: 1.1rem;
      text-align: left;
    }

    a, a:active, a:visited {
      color: $link_red;
    }

    img {
      max-width: 90%;
    }

    .heading, .extras {
      text-align: center;
    }

    .slides section, .slides section > section {
      margin-top: inherit;  // MONKEYPATCH: overriding general layout setting for theme
    }

    .slides > section {
      min-height: $reveal-area-height;

      & > section {
        h1, h2, h3, h4 {
          text-align: center;
        }

        h1 {
          font-size: 4rem;
        }

        h2 {
          font-size: 3rem;
        }

        h3 {
          font-size: 2rem;
        }
      }
    }

    &.overview {
      section {
        margin: 0 !important;
      }

      .slides > section {
        & > section {
          .heading, & > h3:first-child {
            transform: scale(2) translateY(50%);
          }

          h3:first-child {
            margin-bottom: 5rem;
          }

          .extras {
            display: none;
          }
        }
      }
    }

    section img {
      border: none;
      box-shadow: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .controls {
      position: absolute;
      width: 100%;
      height: 100%;
      right: 0;
      bottom: 0;
      pointer-events: none;

      * {
        color: inhert !important;
      }

      div {
        pointer-events:auto;
        width: 3rem;
        height: 3rem;
        text-align: center;
        border: inherit;

        &.enabled {
          opacity: 0.5;
          transition: opacity 1s;
          
          &:hover {
            transition: opacity 1s;
            opacity: 1;
          }
        }
        
        i {
          font-size: 1.25rem;
          line-height: 2rem;
        }

        &.enabled:active {
          margin-top: inherit;
        }

        &.navigate-left {
          top: inherit;
        }

        &.navigate-right {
          left: inherit;
          top: inherit;
        }

        &.navigate-up {
          left: inherit;
        }

        &.navigate-down {
          left: inherit;
          top: inherit;
        }
      }
    }

    &.overview .slides > section {
      & > section:hover, section.present {
        outline: 10px solid rgba(150, 150, 150, 1);
        outline-offset: 10px;
        background: #ccc;
      }
    }
  }
}

  .metadata {
    font-size: 0.9rem;
    
    section {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }
}
