@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";

.lc-event {
  .event-info {
    font-size: $keyfacts-font-size;
    margin-top: 1em;
  }
  
  .extra-content .item h1 {
    font-size: 1.125em;
    font-weight: bold;
    text-transform: inherit;
    border-bottom: $list-divider;
    margin-bottom: 0.444444444em;
  }
    
  .event-materials {
    @include clearfix;

    .item {
      @include gallery(4 of 12);
    }
  }
  
  .speaker-profiles {
    .person {
      @include clearfix;
      margin-bottom: 2rem;
      
      .name {
        @include clearfix;
        
        h1 {
          @include span(last 8 of 12);
          @include pull(4);
        }
      }
        
      .photo {
        @include span(4 of 12);
        text-align: center;
        
        @include person-photo-in-people-list;
      }
      
      .profile {
        @include span(last 8 of 12);
      }
    }
  }
}
