@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";

.lc-event {
  .event-info {
    font-size: $keyfacts-font-size;
    margin-top: 1em;
  }
  
  .extra-content .item h1 {
    font-size: 1.125em;
    font-weight: bold;
    text-transform: inherit;
    border-bottom: $list-divider;
    margin-bottom: 0.444444444em;
  }
    
  .event-materials, .people-list {
    @include clearfix;

    .item {
      @include gallery(4 of 12);
    }
  }
}
