@import "compass/css3";

.lc-research-project {
  // TECHNICAL_DEBT
  // border-box should be the overall default; until that
  // has been thoroughly tested, we can set it per template
  & * {
    box-sizing: border-box;
  }
  
  .entry-header .abstract {
    font-style: italic;
  }
  
  #linked-galleries > div {
    margin-bottom: 1em;
  }
   
  section {
    @include red-flag-header;
  
    & > header {
      margin-bottom: 1em;

      & > h1 {
      	margin-bottom: 0;
      }
    }
  }
  
  #keyfacts .highlights {
    & > a {
      position: relative;
      
      h1 {
        @include box-sizing(border-box);
        position: absolute;
        bottom: 0;
        color: white;
        background: rgba(0,0,0,0.6);
        width: 100%;
        padding: 0.3em;
      }
    }
  }

  #t-galleries .photo-essay {
    @include gallery(6 of 12);
    height: 6rem;
  }

  #t-dataviz {
    section.toc {
      margin-top: 1rem;

      section {
        margin-top: 0;
      }
    }

    .toc {
      @include data-publication-toc-article;
    
      // override mixin style for font size until we go full-width
      .article h1 {
        font-size: 1.25rem;
      }
    }
  }
}

nav#projectsmenu {
  h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}

/**
 * The following styles set is for research project index pages
 */
$grid-index: (
  // gutters: 0
);

.lc-index-for-pod-research_project {
  @include with-layout($grid-index) {
    .project {
      @include gallery(4 of 12 inside);
      
      .tile {
        position: relative;
        /*
         TECHNICAL_DEBT: this is needed to compensate for the extra
         height due to the child img's uneven heights/ratios across
         the grid - fix that properly...
         */
        margin-bottom: -6px;
      }
      
      h1 {
        font-size: 1rem;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.7);
        margin: 1rem;
        padding: 0.5rem;
        color: white;
        font-weight: bold;
        display: block;
      }
    }
  }
}
