@import "compass/css3";

.lc-research-project {
  // TECHNICAL_DEBT
  // border-box should be the overall default; until that
  // has been thoroughly tested, we can set it per template
  & * {
    box-sizing: border-box;
  }
  
  .entry-header .abstract {
    font-style: italic;
  }
  
  #linked-galleries > div {
    margin-bottom: 1em;
  }
   
  section {
    @include red-flag-header;
  
    & > header {
      margin-bottom: 1em;

      & > h1 {
      	margin-bottom: 0;
      }
    }
  }
  
  #keyfacts .highlights {
    & > a {
      position: relative;
      
      h1 {
        @include box-sizing(border-box);
        position: absolute;
        bottom: 0;
        color: white;
        background: rgba(0,0,0,0.6);
        width: 100%;
        padding: 0.3em;
      }
    }
  }

  #t-galleries .photo-essay {
    @include gallery(6 of 12);
    height: 6rem;
  }

  #t-dataviz {
    section.toc {
      margin-top: 1rem;

      section {
        margin-top: 0;
      }
    }

    .toc {
      @include data-publication-toc-article;
    
      // override mixin style for font size until we go full-width
      .article h1 {
        font-size: 1.25rem;
      }
    }
  }
}

nav#projectsmenu {
  h1 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
}

/**
 * The following styles set is for research project index pages
 */
$grid-index: (
  // gutters: 0
);

.lc-index-for-pod-research_project {
  .section {
    @include clearfix;
    
    .label {
      display: none;
      position: absolute;
      background-color: rgba(255, 0, 0, 0.85);
      color: white;
      bottom: 0;
      right: 0;
      margin: 0 0.5rem;
      padding: 0 0.25rem;
      border-radius: 0.25rem;
    }
    
    &.show-strand .research-strand {
      display: inline;
    }
    
    &.show-status .research-status {
      display: inline;
    }
  }
  
  .projects {
    @include with-layout($grid-index) {
      .project {
        @include gallery(4 of 12 inside);
        
        .tile {
          padding-bottom: 1rem;
          margin-bottom: 1rem;
          transition: box-shadow 1s ease-in;
          
          &:hover {
            transition: box-shadow 0.5s;
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
          }
        }
        
        .main {
          position: relative;
          min-height: 8rem;
          background-color: rgba(0, 0, 0, 0.05);
        }
        
        .flip {
          padding-left: 1rem;
          padding-right: 1rem;
        }
        
        .summary {
          line-height: 1.25rem;
        }
        
        h1 {
          font-size: 1rem;
          position: absolute;
          top: 0px;
          left: 0px;
          background-color: rgba(0, 0, 0, 0.7);
          margin: 0.5rem;
          padding: 0.5rem;
          color: white;
          font-weight: bold;
          display: block;
        }
      }
    }
  }
}
