%header.entry-header
  %h1.entry-title = title
-#.filter-search-controls
  .heading Filter projects by:
  %ul.controls
    -#%li( data-toggle-on = "project-status" )
      %h1 Status
      %ul
        %li.label( data-status = "enabled" data-toggle = "active" ) Current
        %li.label( data-status = "enabled" data-toggle = "completed" ) Completed
    %li( data-toggle-on = "research-strand" )
      %h1 Research strand
      %ul
        %li.label( data-status = "enabled" data-toggle = "010-cities-space-and-society" ) Cities, space and society
        %li.label( data-status = "enabled" data-toggle = "020-cities-environment-and-climate-change" ) Cities, environment and climate change
        %li.label( data-status = "enabled" data-toggle = "030-urban-governance" ) Urban governance
.sections
  - for section in sections
    %section(class = section.labels)
      %h1 = section.title
      .items.projects
        - for item in section.items
          .item.project( data-status = "enabled" data-project-start-year = item.timespan.start data-project-end-year = item.timespan.end data-project-timespan = item.timespan.text data-project-activity-score = item.project_activity_score data-research-strand = item.research_strand.permalink data-project-status = item.status.permalink )
            .tile
              .main
                %a(href = "/objects/research-projects/#{item.permalink}")
                  - if(item.heading_gallery.slides.0.uri)
                    %img(src = item.heading_gallery.slides.0.uri)
                  %h1 = item.title
                  - if(item.research_strand.name)
                    %span.label.research-strand( class = item.research_strand.permalink ) = item.research_strand.name
                  - if(item.status)
                    %span.label.research-status( class = item.status.permalink ) = item.status.name
              .flip
                .summary = item.summary | raw
