@import "compass/utilities/general/clearfix";
@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/transform";
@import "palette";

$background-color: black;
$text-color: white;
$link-color: #eee111;
$link-hover-color: darken($link-color, 20%);
$site-font: theovandregular;

@mixin basic-link {
  background-color: inherit;
  color: $link-color;
}

@mixin basic-link-hover {
  @include basic-link;
  color: $link-hover-color;
}

body.ec2012 {
  background-color: black;
  color: $text-color;
  font-family: 'Open Sans' !important;

  .reset-layout {
    clear: both;
    overflow: hidden;
  }
  
  #container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  
  header {    
    &.entry-header {
      display: none;
      
      h1 {
        color: $link-color;
      }
    }
  }
  
  #header {
    position: relative;
    
    .twitter-hashtag {
      position: absolute;
      top: 30%;
      line-height: 1em;
      right: 0;
      background-color: #eee111;
      padding: 0.2em 0.5em;
      border-radius: 0.2em;
      font-weight: bold;
      
      a, a:active, a:visited {
        color: $background-color;
      }
    }
  }
  
  #ec2012title {
    font-family: $site-font;
    letter-spacing: 2px;
    font-size: 3em;
    margin-bottom: 0.5em;
    
    a, a:active, a:hover, a:visited {
      color: $text-color;
    }
  }
  
  #level1nav, #level2nav {
    font-family: $site-font;
    letter-spacing: 1px;
  }
  
  #level2nav {
    background-color: transparent;
    
    ul {
      float: left;

      li {
        a:hover {
          @include basic-link-hover;
        }
      }
      
      li.current, li.current_page_item, li.current_page_ancestor, li.current_page_parent {
        background-color: inherit;
        
        a {
          @include basic-link;
          
          &:hover {
            @include basic-link-hover;
          }
        }
        
        &:hover {
          a {
            background-color: inherit;
            color: $link-hover-color;
          }
        }
      }
      
      li:first-child a {
        padding-left: 0;
      }
    }
  }
  
  #mainmenus {
    margin-bottom: 1em;
  }
  
  // this is a workaround until we switch to a susy-style grid that does
  // not rely on elements' classes
  [role='main'] {
    padding-bottom: 10em;
    & > article.ninecol {
      width: 100%;
    }
  }
  // same as above (until we switch to a susy-style grid) but re
  // overflow
  [role='main'], #main {
    overflow: visible;
  }
  
  #contentarea {
    .top-content article header h1 {
      color: $link-color;
    }
    
    &.ninecol {
      width: 100%;
    }
    &>h1 {
      display:none;
    }
  }
  
  .entry-content section, .extra-content > section, .extra-content > aside {
    & > header {
      border-top: 1px solid $link-color;
      
      & > h1 {
        color: $background-color;
        background-color: $link-color;
      }
    }
  }
  
  a, a:focus, a:active {
    color: $link-color;
  }
  
  a:hover {
    color: $link-hover-color;
  }
  
  footer#footer {
  
    a, a:visited, a:active {
      color: $link-color;
    }
    
    a:hover {
      color: $link-hover-color;
    }
  }
  
  #navigationarea {
    display: none;
  }
  
  // Pods
  
  .lc-event-programme {
    .entry-content {
      .sessiontype-session {
        .sessiontype-session, .sessiontype-panel, .sessiontype-discussion {
          & > header {
            border-top: none;
            border-bottom: 1px solid $link-color;
          }
        }
      }
      
      .sessiontype-presentation {
        header {
          border-top: none;
          
          h1 {
            color: $link-color;
            background-color: inherit;
            padding-left: 0;
          }
        }
      }
    }
  }

  // plugins
  
  // jquery.hovercard plugin styles
  .lc-event-speaker-list {
    .speaker-card {
      @include box-shadow(none);
      background-color: #424242;
      color: white;
    }
  }
  
  // wordpress usernoise plugin styles
  #un-button {
    display: none;
  }
}
