@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "palette";

$slider_full_pxwidth: 1140;
$columns: 5;
$slider_base_font_pxsize: 14;
$tile_base_emwidth: ($slider_full_pxwidth / $columns / $slider_base_font_pxsize);
$tile_base_emheight: (224/14);
$tile_pxpadding: 0;
$tile_padding: $tile_pxpadding/$slider_base_font_pxsize;
$tile_pxmargin: 2;
$tile_margin: ($tile_pxmargin / $slider_base_font_pxsize);
$tile_tall_emheight: (($tile_base_emheight * 2) + (($tile_pxmargin / $slider_base_font_pxsize) * 2));
$onetile_pxwidth: (($slider_full_pxwidth - ($columns * $tile_pxmargin * 2) - ($columns + 1)) / $columns ) + 1.2;
$onetile_emwidth: ($onetile_pxwidth / $slider_base_font_pxsize);
//$onetilecolumn_emwidth: (($onetile_pxwidth + 2) / $slider_base_font_pxsize);
$onetilecolumn_emwidth: $tile_base_emwidth;
$twotiles_pxwidth: (((($slider_full_pxwidth - ($columns * $tile_pxmargin * 2) - ($columns + 1)) / $columns * 2) + $tile_pxmargin *2)) + 3;
$twotiles_emwidth: ($twotiles_pxwidth / $slider_base_font_pxsize);
//$twotilescolumn_emwidth: (($onetile_pxwidth * 2 + 2) / $slider_base_font_pxsize);
$twotilescolumn_emwidth: $tile_base_emwidth * 2;
$innersliderborder: 0px solid transparent;

// take two - responsive version
$slider_full_pcwidth: 100;
$sides_margin: 0; // left margin of first column tiles, right margin of last column tiles
$col1_column_width: 20%;
$col2_column_width: 40%;
$col1_onetile_width: 98.245614035087719298245614035088%;
$col2_onetile_width: 49.122807017543859649122807017544%;
$col2_twotiles_width: 99.342105263157894736842105263158%;
$col1_tile_margin: 0.87719298245614035087719298245614%;
$col2_tile_margin: 0.43859649122807017543859649122807%;

.lc-slider-page {
  #main {
    margin-top: 0;
  }
  
  .flexslider {
    font-family: $base-font-family;
    position: relative;
    font-size: 0.875em;
    border: 0;
    
    .flex-direction-nav {
      
      li a {
        @include transition-property(none);
        top: ((467-64)/2)px;
      }
    }
    
    .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
      margin-right: 0;
    }
  
    .slides > li {
      //height: #{2*$tile_base_emheight}em;
      width: #{$slider_full_pxwidth}px;
    }
    
    .col1 {
      width: #{$col1_column_width};
      float: left;
      
      .tile {
        margin: $col1_tile_margin;
        
        &.onetile {
          width: $col1_onetile_width;
        }
      }
    }

    .col2 {
      width: #{$col2_column_width};
      float: left;
      
      .tile {
        margin: $col2_tile_margin;
        
        &.onetile {
          width: $col2_onetile_width;
        }
        &.twotiles {
          width: $col2_twotiles_width;
        }
      }
    }

    .slide-inner {
      border-left: $innersliderborder;
      border-bottom: $innersliderborder;

/*      
      & > div:first-child .tile {
        margin-left: $sides_margin;
      }

      & > div:last-child .tile {
        margin-right: $sides_margin;
      }
*/
    }

    .tile {
      // background-color: #ccc; // for tests only
      border-right: $innersliderborder;
      border-top: $innersliderborder;
      float: left;
      padding: #{$tile_padding}em;
      overflow: hidden;
      position: relative;
      min-height: 210px;
      height: #{$tile_base_emheight}em;
      
      a, a:hover, a:active, a:visited {
        color: inherit;
      }
      
      &.tall {
        height: #{$tile_tall_emheight}em;
      }
      
      &:hover {
        header, .feature_title, .feature_caption, .feature_date {
          //-moz-transition: visibility 0.2s ease-in-out 0.5s;
          //transition: visibility 0.2s ease-in-out 0.5s;
          display: none;
        }
        
        .feature_info.noblurb {
          header, .feature_title, .feature_caption, .feature_date {
            display: inherit;
          }
        }
  
        .feature_info.textonly  {
          .feature_title, .feature_caption {
          display: block;
          }
        }
  
        .feature_blurb {
          //-moz-transition: max-height 0.2s ease-in-out 0s;
          //transition: max-height 0.2s ease-in-out 0s;
          max-height: 75%;
          background:url("http://lsecities.net/wp-content/themes/lsecities-2012/images/backgrounds/mal/pixelpattern_darkgrey_120420.gif");
        }
        
        .feature_info {
          @include single-transition(background-color, 0.5s, ease-in-out, 0s);
          background-color: #000;
          background: url("http://lsecities.net/wp-content/themes/lsecities-2012/images/backgrounds/mal/pixelpattern_darkgrey_120420.gif") repeat scroll 0 0 transparent;
          max-height: 75%;
        }
        
        .feature_info.textonly {
          @include single-transition(background-color, 0.5s, ease-in-out, 0s);
          background-color: #000;
          max-height: inherit;
        }
      }

      .inner-box {
        padding: 0.714285714em;
      }
      
      .crop {
        position: relative;
        overflow: hidden;
        
        img {
          /* position: absolute; */
          margin: 0;
          width: 100%; // only until we have all images of correct size
        }
      }
      
      &.databox {
        
        font-family: $grotesque-font-family;
        
        h1 {
          font-family: $grotesque-font-family;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 6em !important;
          display: inline;
          line-height: 1em;
          margin-bottom: inherit !important;
        }
        p {
          font-size: 1.4em !important;
          display: inline;
          text-transform: uppercase;
        }
      }
      
      &.citieslist ul {
        display: inline;
        text-transform: uppercase;
        font-family: $grotesque-font-family;
        font-size: 2em;
      
        li {
          display: inline;
          
          &::after {
            content: ' ';
          }
          
          &.alternate {
            color: #999;
          }
        
          a, a:active, a:visited {
            color: inherit;
          }
        
          a:hover {
            color: #990000;
          }
        }
      }
      
      &.introbox {
        background: url('http://lsecities.net/wp-content/themes/lsecities-2012/images/backgrounds/mal/pixelpattern_darkgrey_120420.gif');

        h1 {
          border-bottom: 1px $palette_red solid;
          margin-bottom: 0.225em;
        }
        
        .inner-box {
          color: #fff;
      
          p {
            font-size: 0.9em;
          }
        }
      }
    }
  
    .feature_info {
      @include single-transition(background-color, 0.5s, ease-in-out, 0s);
      bottom: 0;
      color: #F8F8F8;
      cursor: pointer;
      line-height: 1em;
      padding-left: 0.714285em;
      padding-right: 0.714285em;
      padding-top: 0.714285em;
      padding-bottom: 0.3571428em;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;

      &:before {
       content:"";
       position:absolute;
       z-index:-1;
       top:0;
       bottom:0;
       left:0;
       right:0;
       background:url("http://v1.lsecities.net/wp-content/themes/lsecities-2012/images/backgrounds/mal/pixelpattern_darkgrey_120420.gif");
       opacity:0.7;
      }
      
      p {
        margin: 0;
      }
      
      header {
        display: table-cell;
        vertical-align: middle;
        
        .feature_title, .feature_caption {
          //-moz-transition: visibility 0.2s ease-in-out 0.5s;
          //transition: visibility 0.2s ease-in-out 0.5s;
        }
      }

      .feature_date {
        border-right: 1px solid $palette_red;
        display: table-cell;
        padding-right: 0.714285em;
        vertical-align: middle;
        text-align: center;

        
        & + header {
          padding-left: 0.714285em;
        }
                
        .month {
          font-size: 0.8em;
        }
        
        .day {
          font-size: 1.5em;
          font-weight: bold;
          line-height: 1em;
        }
      }
      
      .feature_title {
        font-weight: bold;
      }
      
      .feature_caption {
        font-weight: normal;
      }
      
      .feature_blurb {
        float: left;
        line-height: 1.08em;
        max-height: 0;
        overflow: hidden;
        width: 100%;
      }
    }
    
    ul {
      list-style-type: none;
      
      li {
        list-style-type: inherit;
      }
    }
  }
  
  .extra-content {
    font-size: 1em;
    margin-top: 0;
    padding-top: 0;
  }
}
