-macro partner_name_and_logo(partner)
  - if partner.logo_uri
    %img( src = partner.logo_uri alt = partner.name)
  - else
    = partner.name
#contentarea
  .top-content.clearfix
    %article
      - if featured_image_uri
        %header.heading-image
          .photospread
            %img( src = featured_image_uri )
      %header
        %h1 = course.title
        - if course.tagline
          %h2 = course.tagline
      .ninecol
        - if course.course_description
          .blurb = course.course_description|raw
      %aside#keyfacts.threecol.last
        - if course.event_info
          .event-info = course.event_info|raw
        - if course.event_date_string or course.external_uri
          %dl
            - if course.event_date_string
              %dt When
              %dd.date = course.event_date_string|raw
            - if course.external_uri
              %dt Further information
              %dd
                %a( href = course.external_uri ) Course website
        
