- macro people_list_section(group, list_length)
  %section( class = "people-list #{group.permalink}")
    - if list_length > 1
      %h1 #{group.label}
    %ul.people-list.grid
      - for person in group.members
        %li.person
          %span.profile-photo
            %img( src = person.photo.uri )
          %p #{person.full_name}
.entry-content.article-text
  - for group in people_list.groups
    = _self.people_list_section(group, people_list.groups|length)
