- macro people_list_section(group)
  %section( class = "people-list #{group.permalink}")
    %h1 #{group.name}
    %ul
    - for person in section.members
      - include "_person-profile-full.haml"
%article.wireframe.row
  %header.entry-header
    %h1 #{people_list.title}
  .entry-content.article-text
  - for group in people_list.groups
    = _self.people_list_section(group)
