@mixin navbar-list {
  li {
    line-height: 1.25em;
    margin-bottom: 0.25em;
  }
}

@mixin round-button-effects {
  @include transition(opacity 0.4s ease 0s);
  
  &:hover {
    opacity: 0.6;
  }
}

@mixin center960 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
