@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

/* uservoice.com integration -- begin */
#uvTab {
  opacity: 0.7;
}
/* uservoice.com integration -- end */

.yks-mailchimpFormContainer {
  width: 100%;
  
  .yks-mailchimpFormDivRow {
    @include clearfix;
  }
  
  .yks-mailchimpFormDivRowLabel {
    float: left;
    width: 30%;
    margin-right: 3%;
    margin-bottom: 1.5em;
  }
  
  .yks-mailchimpFormDivRowField {
    float: left;
    width: 50%;
    
    & > * {
      width: 100%;
    }
  }
}

#mc_signup {
  .mc_merge_var {
    margin-bottom: 1em;
    width: 100%;
    @include clearfix;
    
    label {
      width: 30%;
      margin-right: 3%;
      float: left;
    }
    
    input {
      width: 60%;
    }
    
    #mc_mv_TOPICS, #mc_mv_2012CONF {
      height: 5em;
      
    }
  }
}

/* MONKEYPATCH - align 'required field' asterisk in embedded MailChimp signup form for Rio 2013 conference */
#mc_embed_signup .mc-field-group span.asterisk {
  right: 20px;
  top: 35px;
}

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  font-family: $base-font-family;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: normal;
  line-height: 1em;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

aside {
  // Font-family: $article-font-family;
  
  &.extras {
    // Font-family: $base-font-family;
    float: right;
    padding-bottom: 1.2em;
    background-color: #eee;
    
	
    > dl {
      padding-left: 1em;
    }
    
    ul.people-list {
      display: inline;
      
      & > li {
        display: inline;
      }
      
      li:after {
        content: ', ';
      }
      
      li:last-child:after {
        content: '';
      }
    }
  }
}

.featureboxes {
  .featurebox {
    background-color: #000;
    color: #fff;
    margin-bottom: 0.9569378%;
    
    h3 {
      padding: 0 0.3em;
    }
    
    a, a:active, a:visited, a:hover {
      color: #fff;
    }
  }
}

.featured-item {
  margin-bottom: 4em;
}

article {
  // Font-family: $article-font-family;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
//  @include font-size(11px);  // approx 85% when base-font-size eq 13px
  font-size: 0.85em;  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include single-box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

#slider {
  margin-bottom: 0.5em;
  // Font-family: $base-font-family;
  max-height: 13.18001222em;
  height: 13.18001222em;
  overflow: hidden;
}

//-----------------------------------
// Base styles
//-----------------------------------

dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin-bottom: 0.5em;
  }
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}

nav {
  a, a:active, a:visited {
		color: #990000;
	}
  
  a:hover {
    color: #555555;
  }
}

p {
  margin-bottom: 1.5em;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  text-transform: none;
}

ul {
  list-style-type: none;
  
  li {
    line-height: 1.2em;
    margin-bottom: 0.6em;
  }
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {
  background: inherit;
}

#container {}

header {

  h1.entry-title {
    font-size: 2em;
    /* margin-bottom: 1.2em; */
    font-family: $main-headings-font-family;
  }
}

.article-text img {
  max-width: 100%;
  width: auto;
  height: auto;
}
  
body {

  h1 {
    font-size: $h1-font-size;
    margin-bottom: 0.25em;
    
    &.mainheading {
      font-size: $h1-font-size / 2 * 3;
    }
  }
  
  h2 {
    font-size: $h2-font-size;
    margin-bottom: 0.25em;
    
    &.mainheading {
      font-size: $h2-font-size / 3 * 5;
    }
  }
  
  h3 {
    font-size: $h3-font-size;
    margin-bottom: 0.25em;
  }
  
  article .introblurb {
    h2 {
      margin-top: 0.6em;
      margin-bottom: 0;
    }
  
    p {
      font-size: 1.25em;
      line-height: 1.2em;
    }
  }
  
  .wp-caption {
    max-width: 100% !important;
  }
  
  .wp-caption-text {
    font-size: 0.875em;
    // Font-family: $headings-font-family;
  }
  
  ul.publication-side-toc {
    @include navbar-list;
  }
  
  .publication-cover {
    @include box-shadow(0.3125em 0.3125em 0.1875em #888);
  }
  
  .article .entry-content.article-text.sidebyside > div {
    @include column-count(2);
  }
}

footer {}
