@import "compass/css3";
@import "compass/css3/text-shadow";

.lc-conference-frontpage {
  header.heading-image {
    position: relative;
    
    .mainheadings {
      position: absolute;
      top: 0;
      margin: 0.5em;
      line-height: 1em;
      color: #fff;
      @include single-text-shadow(#000, 1px, 1px, 5px);
      
      h1, h2 {
        margin: 0;
        color: #fff !important;
      }
      
      h1 {
        text-transform: uppercase;
      }
    }
  }
  
  #keyfacts .conference-partners {
    dd {
      &:after {
        content: '';
      }
      
      img {
        padding: 0.5em 0;
        max-width: 100%;
        max-height: 5em;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
