@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";

.lc-event {
  .event-info {
    font-size: $keyfacts-font-size;
    margin-top: 1em;
  }
  
  .speaker-profiles .person h1 {
    font-size: 1.125em;
    font-weight: bold;
    text-transform: inherit;
    border-bottom: $list-divider;
    margin-bottom: 0.444444444em;
  }
  
  .event-materials, .speaker-profiles {
    clear: both;
    
    .item {
      width: 30.75%;
      margin-right: 3.8%;
      float: left;
      min-height: 1px;
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-child(3n+1) {
        clear: both;
      }
    }
  }
}
