#page-meta {
  clear: both;
  margin: 1em 0;
  opacity: 0.6;
  font-size: 0.8rem;

  @include transition(opacity 0.5s ease);

  &:hover, &:focus, &:active {
    opacity: 1;
    @include transition(opacity 0.5s ease);
  }

  h1 {
    font-size: inherit;
    font-weight: 900;
  }

  .photo-credits li {
    display: inline;
    
    &:after {
      content: '; ';
    }

    &:last-child:after {
      content: '.';
    }
  }
}
