//
// Placeholder media queries for responsive design. Modify as design requires.
// These follow after, and will override, the primary ('mobile first') styles
// The closing /mediaquery comment is required by respond.js min/max-width Media Query polyfill
//

@media only screen and (min-width: 480px) {
  // Style adjustments for viewports 480px and over go here
  body.urban-age-twentyfifteen {

  }
}/*/mediaquery*/

@media only screen and (min-width: 768px) {
  // Style adjustments for viewports 768px and over go here
  body.urban-age-twentyfifteen {

  }
}/*/mediaquery*/

@media only screen and (min-width: 1024px) {
  body.urban-age-twentyfifteen {
    .full-background-photo {
      display: none;
    }
  }
}/*/mediaquery*/

@media only screen and (max-width: 768px) {
  // Style adjustments for viewports 768px and less go here
  body.urban-age-twentyfifteen {
    .lc-newspaper-article {
      #navigationarea {
        position: static;
        
        .hide, .show {
          display: none !important;
        }
        
        #publication-side-toc {
          position: static;
          display: block;
        }
      }
    }
  }
}/*/mediaquery*/

// Print styles
// Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
/*
@media print {
  @include media-print;
}
*/
