@import "compass/css3";
@import "compass/css3/columns";

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

#level3nav {
  font-size: 0.925em;
  // Font-family: $headings-font-family;
  
  @include navbar-list;
  
  ul.children {
    margin-left: 1em;
  }
  #organizer-logos {
    max-width: 67.7290%;
    width: 67.7290%;
  }
}

#footer {
  font-size: 0.75em;
  background: url("//lsecities.net/app/themes/lsecities-alexandria/images/backgrounds/mal/pixelpattern_darkgrey_120420.gif") repeat scroll 0 0 transparent;
  border-top: 1px solid #E5E5E0;
  margin-top: 20px;
  padding: 40px;
  color: #fff;

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #fff;
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
    font-size: 1em;
  }
  
  ul {
    list-style-type: none;
    margin-bottom: 2em;
  }
  
  a, a:visited, a:active {
    color: #ee2222;
  }
  
  a:hover {
    color: #ccc;
  }
  
  #footerSitemap {
    ul li > ul {
      margin-top: 0.5em;
    }
    
    & > .row {
      margin-bottom: 1.5em;
    
      & > section > ul {
        li {
          line-height: 1em;
          margin-bottom: 0.5em;
        }
      }
    }
  }

  .indicates-required {
    text-align: right;
  }

  input, button {
    margin-bottom: 0.5rem;
    border: none;
  }

  input {
    width: 100%;

    &.button {
      width: auto;
    }
  }
}
