@import "compass/css3";
@import "compass/css3/transition";
@import "templates/palette";

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

$about_area_colour: rgba(0, 174, 239, 1);
$research_area_colour: rgba(255, 119, 0, 1);
$publications_area_colour: rgba(219, 65, 64, 1);
$events_area_colour: rgba(54, 55, 149, 1);
$urbanage_area_colour: rgba(180, 0, 29, 1);
$media_archive_area_colour: rgba(75, 128, 68, 1);

$social-media-icons-color: #a8abb2;
$social-media-icons-hover-color: #b9bbc1;

#header {
 padding-top: 0.75em;
 
 nav {
  color: inherit;

  ul {
   float: right;
  }
 }
 
 #subsitesNavigation {
  height: 1.9375em * 1.5;
  font-size: 0.75em;
  font-weight: bold;
  
  img#lsecitiesSmallLogo {
    padding: 0.125em 2em 0;
    margin: 0.125em auto 0;
    display: block;
    background-color: #ffffff;
    @include border-top-left-radius(3px);
    @include border-top-right-radius(3px);
  }
 
  ul li a {
    color: #ffffff;
  }
 }
 
 #lclogo {
  height: 4.5em;
 }

 #ualogo {
  height: 4.5em;
  margin-top: 0.166667em;
 }

 ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
 
  li {
   display: inline;
   float: left;
  
   a {
    padding: 0.250em 0.6em 0 0.6em;
    text-decoration: none;
   }
  }
 }
 
 #socialbuttons {
  ul li {
    a {
      margin: 0 0.3125em;
      padding: 0;
      @include round-button-effects;
      
      color: $icon_foreground;
      
      .in-circle {
        color: $icon-background;
        background-color: $icon_foreground;  // swap background with foreground
        border-radius: 50%;
      }
    }
  }
 }
}

#mainmenus {
  /// opacity: 0.9;
  opacity: 1;
  
  &:hover {
    opacity: 1;
  }
}
 
  #level2nav {	
    h1 {
      display: inline-block;
      color: #ffffff;
      font-size: 1.2em;
      font-weight: normal;
      padding: 0 0.5em;
    }
    
    ul {
	  font-weight: bold;
	  
      li.current, li.current_page_item, li.current_page_ancestor, li.current_page_parent {
        background-color: #ddd;
        
        a {  
          color: #000;
        }
      }
      
      a {
        color: #ffffff;
        display: block;
        margin: 0;
    
        &:hover {
          background-color: #ddd;
          color: #000;
        }
      }
    }
  }

  #level2nav {
	background-color: #000;
	color: #fff;

    ul {
      background-color: inherit;
      
      li {
        @include transition(background-color 0.4s ease-out 0s, color 0.1s ease 0.1s);
      }
    }
  }


nav#level1nav,
nav#level2nav {
  line-height: 1.2em;
  font-family: $navmenu-font-family;
  text-transform: uppercase;
  
  ul li {
    line-height: 1.5em;
    margin-bottom: 0;
  }
}

#level1nav {
  margin-top: 4em;
  
  ul li {
    @include transition(background-color 0.4s ease-out 0s);
    
    a, a:active, a:visited {
      color: #000;
    }
    
    &.current, &.current_page_item, &.current_page_ancestor {
      // border-bottom-color: #666;
      background-color: $palette_red;
      color: #fff;
      
      a {
        color: #fff;
      }
    }

    &:hover:not(.current), &:hover:not(.current_page_item) {
      background-color: $palette_red;
      a {
        color: #fff;
      }
    }
  }
}

header #searchbox {
  opacity: 0.7;
  
  #socialbuttons {
    float: right;
  }
  
  #queryfield {
    input[type="text"] {
      border: none;
      border-bottom: 1px solid $social-media-icons-color;
      color: inherit;
      vertical-align: bottom;
      height: 1.75em;
      float: left;
      width: 15em;
      @include transition(width 0.6s ease 0s);
    }
    
    input[type="text"]:focus {
      border: none;
      border-bottom: 1px solid $social-media-icons-color;
      width: 20em;
      @include transition(width 0.6s ease 0s);
    }
    
    button {
      float: right;
      font-size: 1.2rem;
      color: $social-media-icons-color;
      @include transition(color 0.4s ease-out 0s);
      background: transparent;
      border: none;
      width: 1em;
      height: 1em;
      padding: 0;
      margin: 0;
      &:hover {
        color: $social-media-icons-hover-color;
      }
    }
    
    input[type="submit"] {
      float: right;
      color: white;
      background: url("//lsecities.net/wp-content/themes/lsecities-alexandria/images/icons/mal/searchicon_for_header.gif") no-repeat scroll right center transparent;
      border: none;
      background: $social-media-icons-color;
      width: 1em;
      height: 1em;
      font-weight: bold;
      font-size: 2.1em;
      @include border-radius(50%);
      &:hover {
        background: $social-media-icons-hover-color;
      }
    }
    
    border: none;
    color: #666;
    height: 1.9166667em;
    padding: 0 0 0 0.25em;
    font-size: 1em;
  }

  form {
    float: right;
    /// opacity: 0.3;
    opacity: 1;
    font-size: 0.75em;
    margin-left: 0.625em;
  
    &:hover {
      ///opacity: 0.9;
      opacity: 1;
    }
  }
}

#persistentLogo {
  float: right;
  height: 31px;
}

header #socialbuttons {
 height: 30px;
 
 h4 {
  display: inline;
 }
 
 ul {
  height: 16px;
 }
}

#conferencesmenu {
  ul {
    font-family: $grotesque-font-family;
    font-size: 1.125em;
    line-height: 1.5em;
    text-transform: uppercase;
    list-style: none;
    padding-left: 0;
  }
  
  a, a:active, a:visited {
    color: #555555;
  }
  
  a:hover {
    color: #990000;
  }
}
