@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";

.lc-newspaper-article {
  header.heading-image img {
    max-width: 100%;
    width: 100%;
  }
        
  #keyfacts {
    width: 30.75%; // aka fourcol in cssgrid.net
    margin-left: 3.8%; // aka the fourcol margin-right in cssgrid.net
    float: right;
    margin-bottom: 2rem;
  }

  .has-pullquote::before {
    content: attr(data-pullquote);
    
    font-weight: bold;
    opacity: 0.8;
    
    float: right;
    width: 50%;
    margin: 0.5em -30% 0 0;
    padding-left: 1.5em;
    padding-bottom: 0.5em;
    font-style: italic;
    
    position: relative;

    font-size: 1.5em;
    line-height: 1.25em;
  }

  .has-pullquote::before::before {
    content: '\00AB';
    color: #ff0000;
  }

  .cite_ref, .cite_note {
    vertical-align: super;
    font-size: 0.83em;
  }
  
  article .article {
    section {
      margin-bottom: 2em;
      overflow: hidden;
    }
    
    .thumbnail-graphics {
      float: left;
      width: 50%;
      margin-right: 1em;
    }
    
    .entry-content.article-text {
      h1 {
        margin-top: 1em;
      }
    }
    
    .entry-content, .extra-content {      
/* // TODO: re-enable once all the article photos have been double checked
      img {
        float: right;
        margin-left: 1.5em;
        margin-right: -50%;
        max-width: 150%;
        position: relative;
        width: 150%;
      }
*/
    }
  }
  
}

#publication-side-toc {
  margin-top: 0.625em;
  
  h1 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  h2 {
    font-size: 1em;
    margin-bottom: 0.25em;
    margin-top: 1em;
  }
  
  ul li {
    line-height: 1.125em;
    margin-bottom: 0.3em;
  }
}
