@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/columns";
@import "compass/css3/transform";
@import "compass/css3/border-radius";

.lc-publication {
  // TECHNICAL DEBT
  // border-box should be the overall default; until that
  // has been thoroughly tested, we can set it per template
  & * {
    box-sizing: border-box;
  }
  
  #keyfacts {
    p {
      margin-bottom: 0.2em;
      margin-top: 0.5em;
    }
    
    .cover-thumbnail {
      padding: 0 4em;
      
      img {
        margin: 1em 0;
        @include transform(rotate(3deg));
        @include border-radius(3px);
        @include box-shadow(3px 3px 3px #ccc);
      }
    }
    
    dl dt {
      border-bottom: none;
    }
  }
  
  .publication-sections {
    margin-top: 2em;
    
    h1 {
      margin-bottom: 0.5em;
    }
    
    ul li {
      line-height: 1.125em;
      margin-bottom: 0.5em;
    }
  }
  
  #wp-posts-reviews {
    dl.posts {
      // @include column-count(2);
    }
  }
  
  #tableofcontents {
    .articles {
      & > section {
        margin-bottom: 1.5rem;
        
        & > h1 {
          font-size: 1.75rem;
          font-weight: bold;
        }
        
        .article {
          margin-bottom: 1rem;

          .heading-image {
          width: 100%;
            max-width: 100%;
          }
          & > h1 {
            font-size: 1.25rem;
            margin-top: 0.25rem;
            font-weight: bold;
            text-transform: uppercase;
          }
          
          .excerpt {
            font-size: 1rem;
          }
        }
      }
    }
  }
  
  /**
   * For research data/data section publications, display credits inline rather than as vertical list
   */
  &.publication-category-research-data .publication-credits {
    h3 {
      clear: both;
    }
    ul li {
      float: left;

      &::after {
        content: ";\00a0";
      }
      &:last-child::after {
        content: "";
      }
    }
  }
  /**
   * For ToC of research data/data sections, use a block grid
   */
  .toc.publication-category-research-data {
    .article {
      float: left;
      width: 32%;
      margin-right: 2%;
      padding: 0.5rem;
      background-color: rgba(240, 240, 240, 0.9);
      
      &:nth-child(3n) {
        margin-right: 0;
      }
      
      &:nth-child(3n+1) {
        clear: both;
      }
      
      .cover-image {
        overflow: hidden;
        
        img {
          @include transition(0.5s);
        }
        
        img:hover, img:focus {
          @include scale(1.5);
          @include transition(0.5s);
        }
      }
    }
  }
}
